code{
	font-size: 12px;
    line-height: 1.6 !important;
	font-family: "JetBrains Mono", "Menlo","DejaVu Sans Mono","Liberation Mono", "Consolas","Ubuntu Mono","Courier New","andale mono","lucida console", monospace !important
}

#header{
	    padding: 28px 0 0 !important;
}

#nav-menu{
	margin: 0 0 -1px;
    padding: 0;
}

.post-content{
	padding-top: 15px !important;
}

/*************************************************  custom  ***************************************/

.post-content ul {
    padding: 0.0em 2.0em !important;
    margin: 0.3em 0 !important;
}

.post-content ul li p {
    margin: 0.3em 0 !important;
}

.summary-p p{
	margin-block-start: 0;
    margin-block-end: 0;
	display:inline !important;
}

/*************************************************  custom  ***************************************/

blockquote{
	margin: 0.65em 0;
}

.post-toc {
	font-size: 12px !important;
}

.post-toc .post-toc-title{
	font-size: 12px !important;
}

.post-toc .post-toc-content{
  border-right: 1px solid #f1f1f1;
}

figcaption{
	text-align: center;
	color: #9196a1;
}

ol{
	padding-inline-start: 15px !important;
}

blockquote {
    background-color: #f8f8f8;
    border-left: 3px solid #ba3925;
    padding: 0.5em 1em !important;
}

blockquote p{
	margin: 0 0 0 !important;
}

blockquote::before{
	content: none;
}

